@import url('Site.css');

@font-face {
    font-family: amatic-bold;
    src: url(Fonts/Amatic-Bold.ttf);
}

@font-face {
    font-family: amatic-regular;
    src: url(Fonts/AmaticSC-Regular.ttf);
}

footer {
    background-color: #1a405d;
    padding: 30px;
    color: #dcdedf;
    font-weight: 400;
    font-size: 18px;
}

.sf-container {
    padding-top: 2em;
}

strong {
    font-weight: 600;
    color: #e48f0c;
}

.sf-navbar-button {
}

.sf-logo-text {
    font-size: 42px;
}

.sf-input-pay {
    color: black;
    background-color: white;
    border: #1a405d solid 1px;
    width: 40px;
}

.sf-background {
    background-image: url( /Content/Images/bg.png);
    background-position: top;
    background-repeat: repeat-x;
    background-color: #dcdedf;
}

.sf-logo p {
    color: #1a405d;
    font-size: 22px;
    font-weight: 600;
}

.sf-logo .row {
}

.text-holder {
    width: 415px;
    height: 108px;
    background-image: url(/Content/Images/logo.png);
}

header {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.15);
}

.sf-header-control {
    color: #1a405d;
    border: 2px solid #1a405d;
    border-radius: 4px;
}

.sf-page-content {
    background-color: #FFF;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.sf-width200 {
    width: 200px;
}

.sf-width100 {
    width: 100px;
}

.sf-width300 {
    width: 300px;
}

.sf-width50 {
    width: 50px;
}

.sf-block {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
}

    .sf-block.even {
        color: #317eac;
        background: #d6ebf4;
    }

        .sf-block.even strong {
            color: #317eac;
        }

.btn {
    border-radius: 0;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: amatic-bold;
    line-height: 2em;
}

h3 {
    font-weight: 500;
}

h4 {
    font-size: 22px;
}

h3.alert-heading {
    line-height: 1em;
    padding-top: 5px;
    margin-top: 0;
    color: #468847;
}

.alert {
    border-radius: 0;
    border-top-width: 2px;
    border-left-width: 4px;
    border-right-width: 0;
    border-bottom-width: 0;
}

    .alert p {
        text-align: center;
    }

.form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-control {
    border-radius: 0;
    border-color: #1a405d;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 34px;
}

    .form-control:focus {
        border-color: rgb(236,162,21);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    }


.sf-navbar-input {
    background-color: white;
    border: #715c1c solid 2px;
    border-radius: 0;
    padding: 5px;
    height: 28px;
    margin: 5px;
    font-family: Arial;
}

.sf-navbar-btn {
    background-color: inherit;
    font-weight: 600;
    color: white;
    font-size: 20px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: #b87a0f solid 0;
}

.sf-bg {
    z-index: 9999;
    background-size: auto 100%;
}

.sf-bg-intro {
    width: 237px;
    height: 215px;
    margin-top: -14px;
    margin-bottom: -20px;
    background-color: transparent;
    background-image: url('Images/info 2.png');
}

.sf-bg-ucastnici {
    width: 228px;
    height: 154px;
    margin-top: 28px;
    margin-bottom: 0;
    background-color: transparent;
    background-image: url('Images/ucastnici.png');
}

.sf-bg-cennik {
    width: 173px;
    height: 143px;
    margin-top: 45px;
    background-color: transparent;
    background-image: url('Images/cennik 2.png');
}

.sf-bg-program {
    width: 140px;
    height: 140px;
    background-color: transparent;
    background-image: url('Images/program 2.png');
    margin-top: 42px;
    margin-bottom: 0;
}

.sf-bg-password-recovery {
    width: 203px;
    height: 189px;
    background-color: transparent;
    background-image: url('Images/obnova hesla.png');
    margin-top: 0;
    margin-bottom: 0;
}

.sf-bg-contact {
    width: 181px;
    height: 182px;
    background-color: transparent;
    background-image: url('Images/kontakty.png');
    margin-top: 0;
    margin-bottom: 0;
}

.sf-bg-register {
    width: 160px;
    height: 200px;
    background-color: transparent;
    background-image: url('Images/registrácia.png');
    margin-top: 30px;
    margin-bottom: -40px;
}

a.sf-navbar-btn {
    padding-top: 6px;
}

.sf-navbar-btn:hover {
    background-color: #b87a0f;
    color: #f8c931;
}

.container.admin {
    width: 1260px;
}

.sf-payment {
    margin: 10px;
}

    .sf-payment strong {
        font-weight: 600;
        color: #1a405d;
    }

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    font-family: amatic-bold;
    color: white;
}

.navbar-inverse .navbar-brand {
    color: #1a405d;
    font-weight: 800;
}

.navbar-inverse .navbar-toggle {
    background-color: #f8c931;
    border: #b87a0f solid 1px;
}

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #b87a0f;
    }

    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background-color: #b87a0f;
    }

        .navbar-inverse .navbar-toggle:focus .icon-bar,
        .navbar-inverse .navbar-toggle:hover .icon-bar {
            background-color: #f8c931;
        }

.navbar-inverse {
    /*background: -moz-linear-gradient(top, rgba(236,162,21,1) 0%, rgba(243,187,38,1) 72%, rgba(246,197,45,0) 100%);*/ /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, rgba(236,162,21,1) 0%,rgba(243,187,38,1) 72%,rgba(246,197,45,0) 100%);*/ /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, rgba(236,162,21,1) 0%,rgba(243,187,38,1) 72%,rgba(246,197,45,0) 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eca215', endColorstr='#00f6c52d',GradientType=0 );*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e89912', endColorstr='#007db9e8',GradientType=0 );*/
    background: rgb(236,162,21);
    border-top: #e48f0c solid 2px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
}

    .navbar-inverse .navbar-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

        .navbar-inverse .navbar-nav > li > a {
            font-weight: 600;
            /*color: #b87a0f;*/
            color: white;
            font-size: 26px;
            padding-top: 15px;
            padding-bottom: 15px;
        }

            .navbar-inverse .navbar-nav > li > a:focus,
            .navbar-inverse .navbar-nav > li > a:hover {
                color: #f8c931;
                background-color: #b87a0f;
            }

.color-sample {
    width: 20px;
    height: 20px;
    border: #1a405d solid 2px;
    border-radius: 4px;
    display: inline-block;
}

.attendee-table {
    max-width: 100%;
    background-color: white;
    padding: 0;
}

    .attendee-table .attendee {
        width: 25%;
        min-width: 300px;
        overflow: auto;
        padding: 10px;
        border: #1a405d solid 2px;
        border-radius: 4px;
        display: inline-block;
        margin: 0 10px 20px 10px;
        font-size: 18px;
    }

table.grid-view.grid-view-middle {
    margin: 0;
}

table.grid-view.stretch {
    width: 100%;
}

table.grid-view.top {
    margin-bottom:-10px;
}


table.grid-view {
    border: #1a405d solid 2px;
    border-radius: 4px;
    max-width: 100%;
    table-layout: fixed;
    background-color: white;
    margin: 10px 0;
}

    table.grid-view th {
        background-color: #1a405d;
        color: #fff;
        font-weight: 800;
        padding: 10px;
    }

    table.grid-view tr {
        border-top: #1a405d solid 1px;
    }

    table.grid-view td {
        max-width: 190px;
        overflow: auto;
        padding: 10px;
    }

    table.grid-view input[type=date] {
        padding: 2px;
        width: 130px;
        height: 24px;
    }

    table.grid-view input[type=checkbox] {
        padding: 0;
        width: 15px;
        height: 15px;
    }

    table.grid-view td.payed {
        color: darkgreen;
        font-weight: 800;
    }

    table.grid-view td.unpayed {
        color: red;
        font-weight: 800;
    }

table.PriceTable {
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
    border-color: #343f68;
    background-color: transparent;
    color: #000;
    width: 400px;
    height: 250px;
    margin: 20px;
}

    table.PriceTable tr {
        border-style: none;
        border-width: 0px;
        border-color: #000;
    }

    table.PriceTable td {
        border-style: solid;
        border-width: 2px;
        border-color: #343f68;
        background-color: #fff;
        color: #000;
        padding-left: 10px;
    }

    table.PriceTable th {
        border-style: solid;
        border-width: 2px;
        border-color: #343f68;
        background-color: #fff;
        color: #000;
        padding-left: 10px;
    }

        table.PriceTable th.Vertical {
            border-style: solid;
            border-width: 2px;
            border-color: #343f68;
            background-color: #fff;
            color: #000;
            text-align: left;
            padding-left: 10px;
            padding-right: 10px;
            width: 90px;
        }

        table.PriceTable th.Corner {
            border-right: 2px solid #343f68;
            border-left: 2px solid transparent;
            border-top: 2px solid transparent;
            border-bottom: 2px solid #343f68;
            background-color: transparent;
        }

div.GoogleMap {
    width: 100%;
    height: 400px;
}
