################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SnowFur/v14
/packages
/SnowFur.DAL/bin/Debug
/SnowFur.DAL/obj/Debug
/SnowFur.BL/bin/Debug
/SnowFur.BL/obj/Debug
/SnowFur/bin
/SnowFur/obj/Debug
/SnowFur/Web.Release.config
/SnowFur/Web.Debug.config
/SnowFur/Properties/PublishProfiles
/.vs/config
*.user
/DBAccessConsole/bin/Debug
/DBAccessConsole/obj/Debug
