<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

<h1>Obnovat zabudnutého hesla</h1>

<p>Kliknutím na následujúci odkaz obnovíte zabudnuté heslo:</p>

<p><a href="<#= RecoveryUrl #>"><#= RecoveryUrl #></a></p>

<#+
public string RecoveryUrl { get; set; }
#>